[*.{kt,kts,java,xml,gradle,md}]

# General rules
disabled_rules = import-ordering, filename
wildcard_import_limit = 999

# Kotlin rules
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_java_class_count_to_use_import_on_demand = 999

# Line rules
max_line_length = 160
end_of_line = lf
insert_final_newline = true
ij_any_method_annotation_wrap = split_into_lines
