*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/**/build
/captures
.externalNativeBuild
.cxx
repo
/artifacts
ci/.idea
ci/env
app/android/r8
.kotlin/
signing.properties
erp-release-keystore-huawei.jks
erp-release-keystore-play.jks
requirements-report.html
Jenkinsfile
Nightly.Jenkinsfile
Archive.Jenkinsfile
GitHubPublish.Jenkinsfile
Desktop.Jenkinsfile
UpdateTools.Jenkinsfile
DependencyReport.Jenkinsfile
EspressoTest.Jenkinsfile
Release.Jenkinsfile
Multibranch.Jenkinsfile
ci-overrides.properties
nexus-init.gradle.kts
technical_requirements_report.html
CODEOWNERS
local.cliactions.yaml
**/virtual_smartcards.json
2021_s.csv
2024_s.csv
mapping.txt
.aiexclude
sonar-project.properties
.snyk
keystore
jenkinsfiles
desktop
smartcard-wrapper
common/src/desktopMain
app/test-actions
documentation-internal
app/android/src/androidTest
ci
requirements
gutachter

