*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/**/build
/captures
.externalNativeBuild
.cxx

Jenkinsfile
Nightly.Jenkinsfile
Archive.Jenkinsfile
GitHubPublish.Jenkinsfile
Desktop.Jenkinsfile
UpdateTools.Jenkinsfile
DependencyReport.Jenkinsfile
EspressoTest.Jenkinsfile
Release.Jenkinsfile
Multibranch.Jenkinsfile
ci
ci-overrides.properties
nexus-init.gradle.kts
documentation-internal
android/src/androidTest
