<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.gematik.ti.erp.app.test">

    <queries>
        <package android:name="com.google.android.apps.maps"/>

        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <application
            android:name=".App"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_label"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ERezApp"
            tools:targetApi="n">
        <service
                android:name=".App"
                android:foregroundServiceType="location">
        </service>
        <meta-data android:name="com.contentsquare.android.autostart" android:value="false"/>
        <!-- Blocks mlKit/firebase from initializing at startup -->
        <provider
                android:name="com.google.mlkit.common.internal.MlKitInitProvider"
                android:authorities="${applicationId}.mlkitinitprovider"
                tools:node="remove"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}"/>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:pathPrefix="/extauth"
                        android:host="das-e-rezept-fuer-deutschland.de"
                        android:scheme="https"/>
                <data
                        android:pathPrefix="/prescription"
                        android:host="das-e-rezept-fuer-deutschland.de"
                        android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>